body{
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(145, 155, 194);
}
.menuszinegy{
    background-color: rgb(157, 192, 216);
}
p{
    font-size: 25px;
    font-weight: lighter;
}